/* possibly use this to create a border for the etch-a-sketch */

body {
    font-family: "roboto", verdana, sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.gridBorder {
    display: flex;
    flex-direction: column;
    border: black 10px solid;
    height: 970px;
    width: 970px;
}

#grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
/*
.square {
    display: flex;
    flex-direction: row;
}
*/