/* possibly use this to create a border for the etch-a-sketch */

body {
    font-family: "roboto", verdana, sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border: 5px;
}

.info {
    display: flex;
    flex-direction: row;
}
h1 {
    font-size: 100px;
    border: 0px;
    padding: 0px;
    border: 0px;
    line-height: 2px;
}
p {
    border: 0px;
    padding: 0px;
    border: 0px;
}
h4 {
    border: 0px;
    padding: 0px;
    border: 0px;
    line-height: 0px;
}
.gridBorder {
    display: flex;
    flex-direction: column;
    border: black 10px solid;
    height: 970px;
    width: 970px;
}
#grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
/*
.square {
    display: flex;
    flex-direction: row;
}
*/